<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

    <style media="screen">
          img {
            height: 400px;
            width: 400px;
          }

        </style>
  </head>


  <body>


    <header>

                  <h1>You Have Climbed This Mountain</h1>

                  <nav class="navbar navbar-inverse">

                            <a href="/" class="btn btn-default" role="button">Home</a>

                            <a href="/climbers/new" class="btn btn-default" role="button">Create Climber Profile</a>

                            <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                            <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                            <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                            <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

                  </nav>

    </header>

    <main>
              <section>


                      <div class="container">

                        <div class="row">
                        <div class="col-md-8 col-md-8">
                        <div class="thumbnail">
                        <div class="caption">

                                <h2><%=climber.name;%><br/></h2>
                                <img src="<%=climber.img;%>"> <br/>
                                <h3>About: <%=climber.description;%></h3><br/>
                              </div>
                              </div>
                              </div>
                              </div>
                      </div>
              </section>

              <section>


                      <ul>

					                  <% for(let i = 0; i < climber.climbs.length; i++){ %>
                                      <div class="row">
                                      <div class="col-sm-6 col-md-4">
                                      <div class="thumbnail">
                                      <div class="caption">
                                      <h2>Fourteener Posts:</h2>
                                       <li><a href="/climbs/<%=climber.climbs[i]._id%>">
                                       <%=climber.climbs[i].fourteeners%></a></li><br/>
                                       <li> <img src="<%=climber.climbs[i].img;%>"></li><br/>
                                       <li><%=climber.climbs[i].about%></li><br/>
                                       <li><%=climber.climbs[i].date%></li><br/>
                            <% } %>
				              </ul>
                    </div>
                    </div>
                    </div>
                    </div>

              </section>




              </section>


              <section>

                    <a href="/climbers/<%=climber._id%>/edit" class="btn btn-default" role="button">Edit</a>

                    <hr>

              </section>

              <section>
                  <form action="/climbers/<%=climber._id%>?_method=DELETE" method="POST">
                  <input class="btn btn-default" role="button" type="submit" value="Delete Climber" />

                    <hr>

                  </form>

              </section>
    </main>



  </body>
</html>
