<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>

  </head>
      <header>

      <% include ../partials/nav.ejs %>

      </header>


<!-- climber post card -->

<div class="cardClimberShow" style="width: 65%;">
  <img class="card-img-top" src="<%=climber.img;%>" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><%=climber.name;%></h4>
    <!-- need to update schema -->
    <p class="card-text">What I like most about climbing 14eeners: The sense of accomplishment I have when I reach the summit</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">About: <%=climber.description;%></li>

     <% for(let i = 0; i < climber.climbs.length; i++){ %>
              <li class="list-group-item">14eener Summits: <a href="/climbs/<%=climber.climbs[i]._id%>">
              <%=climber.climbs[i].fourteeners%></a></li>
              <!-- need to update schema -->
              <li class="list-group-item">Climber level: Beginner</li>
              <!-- need to update schema -->
              <li class="list-group-item">Favorite Mountaineering Gear: My waterproof hiking boots</li>
              <!-- need to update schema -->
              <li class="list-group-item">14eener Fever Advice: Start as early as possible during the day!</li>
              <!-- need to update schema -->
              <li class="list-group-item">14eeners I hope to climb: Quandary, Crestone Needle, Snowmass Mountain</li>

    <% } %>
  </ul>
  <div class="card-body">
    <!-- update links for logged in users to be able to make edits only: -->
    <a href="#" class="card-link">Update Profile</a>
    <a href="#" class="card-link">Add New Summit</a>

    <!-- build functionality for users to comment and the comments are tied to their own user profile: -->
    <a href="#" class="card-link">Comment</a>
  </div>
</div>







                      <ul>

					                  <% for(let i = 0; i < climber.climbs.length; i++){ %>

                                      <h2>Fourteener Posts:</h2>
                                       <li><a href="/climbs/<%=climber.climbs[i]._id%>">
                                       <%=climber.climbs[i].fourteeners%></a></li><br/>
                                       <li> <img src="<%=climber.climbs[i].img;%>"></li><br/>
                                       <li><%=climber.climbs[i].about%></li><br/>
                                       <li><%=climber.climbs[i].date%></li><br/>
                            <% } %>
				              </ul>


              <section>

                    <a href="/climbers/<%=climber._id%>/edit" class="btn btn-default" role="button">Edit</a>

                    <hr>

              </section>

              <section>
                  <form action="/climbers/<%=climber._id%>?_method=DELETE" method="POST">
                  <input class="btn btn-default" role="button" type="submit" value="Delete Climber" />

                    <hr>

                  </form>

              </section>









  </body>
</html>
