<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>

  </head>
      <header>

      <% include ../partials/nav.ejs %>

      </header>
      <br>
      <br>


<!-- climber post card -->

<div class="cardClimberShow" style="width: 65%;">
  <img class="card-img-top" src="<%=climber.img;%>" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><%=climber.name;%></h4>
    <!-- need to update schema -->
    <p class="card-text">What I like most about climbing 14eeners: <%=climber.whatLoveREClimb14eenrs;%></p>

    <!-- The sense of accomplishment I have when I reach the summit -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">About: <%=climber.description;%></li>
    <!-- need to update schema -->
    <li class="list-group-item">Climber level: <%=climber.climberLevel;%></li>
    <!-- need to update schema -->
    <li class="list-group-item">Favorite Mountaineering Gear: <%=climber.faveClimbGear;%></li>
    <!-- need to update schema -->
    <li class="list-group-item">14eener Fever Advice: <%=climber.fourteenerClimbAdvice;%></li>
    <!-- need to update schema -->
    <li class="list-group-item">14eeners I hope to climb:
    <%=climber.wannaClimbThese14eenrs;%></li>

     <% for(let i = 0; i < climber.climbs.length; i++){ %>
              <li class="list-group-item">14eener Summits: <a href="/climbs/<%=climber.climbs[i]._id%>">
              <%=climber.climbs[i].fourteeners%></a></li>


      <% } %>
  </ul>
  <div class="card-body">
    <!-- update links for logged in users to be able to make edits only: -->
    <a href="/climbers/<%=climber._id%>/edit" class="card-link">Update Profile</a>
    <a href="/climbs/new" class="card-link">Add New Summit</a>

    <!-- build functionality for users to comment and the comments are tied to their own user profile: -->
    <a href="#" class="card-link">Comment</a>
  </div>
</div>


<!-- summit posts of climber (by id) CARD -->
<br>
<br>
<br>
<br>

      <h1>My 14eener Summits</h1>
      <br>

      <% for(let i = 0; i < climber.climbs.length; i++){ %>

          <div class="col-sm-3 d-inline-flex">
              <div class="card bg-warning">

                <img class="card-img-top img-fluid"  src="<%=climber.climbs[i].img;%>" alt="Card image cap">
                <br>
                <div class="card-block">
                      <h4 class="card-title"><%=climber.climbs[i].fourteeners%></h4>
                      <p class="card-text"><%=climber.climbs[i].about%></p>
                      <p class="card-text"><%=climber.climbs[i].date%></p>
                      <a href="/climbs/<%=climber.climbs[i]._id%>" class="btn btn-primary">See Post</a>
                      <br>
                      <br>
                </div>
              </div>
          </div>

      <% } %>













  </body>
</html>
