<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">
          img {
            height: 400px;
            width: 400px;
          }

        </style>
  </head>


  <body>


    <header>

                  <h1>Profile Page for <%=climber.name%></h1>

                  <nav>
                        <ul>
                                <li>
                                        <a href="/">Home</a>

                                </li>

                                <li>
                                        <a href="/climbers">Climber Directory</a>
                                </li>
                        </ul>
                  </nav>

    </header>

    <main>
              <section>
                      <h2>Climber Profile:</h2>

                      <div class="container">

                                Name: <%=climber.name;%><br/>
                                <img src="<%=climber.img;%>"> <br/>
                                About this Climber: <%=climber.description;%><br/>

                      </div>
              </section>

              <section>
                      <h2>14eeners Summitted by this Climber:</h2>

                      <p> test
                        <%=climber.mountains.fourteeners%> <br/>
                      </p>

                      <p> test 2
                        <%=climber.mountains.peakPerks%> <br/>
                      </p>

                      <p> test 2
                        <%=climber.mountains.peakPerks%> <br/>
                      </p>

              </section>


              <section>

                    <a href="/climbers/<%=climber._id%>/edit">Edit</a>

              </section>

              <section>
                  <form action="/climbers/<%=climber._id%>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Climber" />

                  </form>

              </section>
    </main>

  </body>
</html>
