<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

    <style media="screen">
          img {
            height: 400px;
            width: 400px;
          }

        </style>
  </head>


  <body>


    <header>

                  <h1>Profile Page for <%=climber.name%></h1>

                  <nav class="navbar navbar-inverse">

                            <a href="/" class="btn btn-default" role="button">Home</a>

                            <a href="/climbers/new" class="btn btn-default" role="button">Create Climber Profile</a>

                            <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                            <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                            <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                            <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

                  </nav>

    </header>

    <main>
              <section>
                      <h2>Climber Profile:</h2>

                      <div class="container">

                                Name: <%=climber.name;%><br/>
                                <img src="<%=climber.img;%>"> <br/>
                                About this Climber: <%=climber.description;%><br/>

                      </div>
              </section>

              <section>
                      <h2>14eener Posts:</h2>

                      <ul>

					                  <% for(let i = 0; i < climber.climbs.length; i++){ %>
						                           <li><a href="/climbs/<%=climber.climbs[i]._id%>">
                                       <%=climber.climbs[i].fourteeners%></a></li><br/>
                                       <li> <img src="<%=climber.climbs[i].img;%>"></li><br/>
                                       <li><%=climber.climbs[i].about%></li><br/>
                                       <li><%=climber.climbs[i].date%></li><br/>
                            <% } %>
				              </ul>

              </section>




              </section>


              <section>

                    <a href="/climbers/<%=climber._id%>/edit">Edit</a>

              </section>

              <section>
                  <form action="/climbers/<%=climber._id%>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Climber" />

                  </form>

              </section>
    </main>

    

  </body>
</html>
