<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <title></title>
  </head>
  <body>
          <header>
                    <h1>Summit Posts About <%=climb.fourteeners%></h1>

                    <nav class="navbar navbar-inverse">

                              <a href="/" class="btn btn-default" role="button">Home</a>

                              <a href="/climbers/new" class="btn btn-default" role="button">Create Climber Profile</a>

                              <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                              <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                              <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                              <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

                    </nav>
          </header>
        <section>
            <div class="container">

            </div>
            <div="climberPost">
                    <ul>
                      <% for(let i = 0; i < climber.climbs.length; i++) { %>
                        <li><a href="/climbs/<%=climber.climbs[i]._id%>">
                        <img src="<%=climber.climbs[i].img;%>"></a></li><br/>
                        <li><%=climber.climbs[i].about%></li><br/>
                        <li><%=climber.climbs[i].date%></li><br/>

                    <% } %>

                    </ul>
          </div></div>
      </section>

          <section>
                    <a href="/climbs/<%=climb._id%>/edit">Edit</a>
          </section>

          <section>
                <form action="/climbs/<%=climb._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Summit Post"/>
                </form>
        </section>

<% include ../partials/footer.ejs %>
  </body>
</html>
