<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/nav.ejs %>
    </header>
          <br><br>


    <div class="containerIndex">
      <!-- maybe change wording? -->
      <h1>Summit Posts About <%=climb.fourteeners%></h1><br>


            <nav class="navbar justify-content-center">

              <a href="/climbs/new" id="indexNav" class="btn btn-primary justify-content-between" role="button">Add Summit Post</a>
              <!-- create a search bar here for 14eeners-->
            </nav>
    </div>

    <style>
    body {
        background-image: url("../images/background-2855345_1920.jpg");
        background-repeat: repeat-y;
    }
    </style>



    <main>
        <br>
        <br>
              <div class="cardClimberShow" style="width: 65%;">



                <img class="card-img-top" src="<%=climb.img;%>" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%=climb.fourteeners%></h4>

                  <p class="card-text"><strong>About This Climb:</strong> <%=climb.about%></p>

                </div>
                    <ul class="list-group list-group-flush">


                      <li class="list-group-item"><strong>Summit Tip:</strong> <%=climb.summitTip%>
                      </li>


                      <li class="list-group-item"><strong>Date of Summit:</strong> <%=climb.date%>
                      </li>

                    </ul>





            <li class="list-group-item"><strong>Summit Post by:</strong>

                         <%=climber.name%>
                       </li>



                    <div class="card-body">


                      <a href="/climbs/new" id="indexNav" class="btn btn-primary justify-content-between" role="button">Add New Summit</a>

                      <!-- build functionality for users to comment and the comments are tied to their own user profile: -->
                      <a href="#" id="indexNav" class="btn btn-primary justify-content-between" role="button">Comment</a>
                    </div>
                  </div>
                  <!-- </div> -->
                  <br>
                  <br>
                  <br>
                  <br>




          <!--<section>
                <form action="/climbs/<%=climb._id%>?_method=DELETE" method="POST">

                </form>
        </section> -->

<% include ../partials/footer.ejs %>
  </body>
</html>
