<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
          <header>
                    <h1>Summit Posts About <%=climb.fourteeners%></h1>

                    <nav>
                          <ul>
                                  <li>
                                          <a href="/">Home</a>

                                  </li>

                                  <li>
                                          <a href="/climbers">Climber Directory</a>

                                  </li>
                                  <li>

                                          <a href="/climbs">14eener Summit Directory</a>

                                  </li>
                                  <li>
                                          <a class="logout" href="/sessions/logout">Logout</a>

                                  </li>
                          </ul>
                    </nav>
          </header>
        <section>
            <div class="container">

            </div>
            <div="climberPost">
                    <ul>
                      <% for(let i = 0; i < climber.climbs.length; i++) { %>
                        <li><a href="/climbs/<%=climber.climbs[i]._id%>">
                        <img src="<%=climber.climbs[i].img;%>"></a></li><br/>
                        <li><%=climber.climbs[i].about%></li><br/>
                        <li><%=climber.climbs[i].date%></li><br/>

                    <% } %>

                    </ul>
          </div></div>
      </section>

          <section>
                    <a href="/climbs/<%=climb._id%>/edit">Edit</a>
          </section>

          <section>
                <form action="/climbs/<%=climb._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Summit Post"/>
                </form>
        </section>

  </body>
</html>
