<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
          <header>
                    <h1>Summit Posts About <%=climb.fourteeners%></h1>

                    <nav class="navbar navbar-inverse">

                              <a href="/" class="btn btn-default" role="button">Home</a>

                              <a href="/climbers/new" class="btn btn-default" role="button">Create Climber Profile</a>

                              <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                              <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                              <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                              <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

                    </nav>
          </header>
        <section>
            <div class="container">

              <div class="row">
              <div class="col-md-8 col-md-8">
              <div class="thumbnail">
              <div class="caption">

                    <ul class="summitPostModal">
                      <% for(let i = 0; i < climber.climbs.length; i++) { %>
                        <h2>Summit Post by:</h2>
                         <a href="/climbs/<%=climber.climbs[i].id%>">
                         <%=climber.name%></a><br/>
                        <li><a href="/climbs/<%=climber.climbs[i].id%>">
                        <img src="<%=climber.climbs[i].img;%>"></a></li><br/>
                        <li><%=climber.climbs[i].about%></li><br/>
                        <li><%=climber.climbs[i].date%></li><br/>

                    <% } %>

                    </ul>



                  </div>
                  </div>
                  </div>
          </div></div>
      </section>



          <section>
                <form action="/climbs/<%=climb._id%>?_method=DELETE" method="POST">

                </form>
        </section>

<% include ../partials/footer.ejs %>
  </body>
</html>
