<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>

      <% include ../partials/nav.ejs %>

    </header>
                    <h1>Summit Posts About <%=climb.fourteeners%></h1>

                    
        <section>
            <div class="container">

              <div class="row">
              <div class="col-md-8 col-md-8">
              <div class="thumbnail">
              <div class="caption">

                    <ul class="summitPostModal">
                      <% for(let i = 0; i < climber.climbs.length; i++) { %>
                        <h2>Summit Post by:</h2>
                         <a href="/climbs/<%=climber.climbs[i].id%>">
                         <%=climber.name%></a><br/>
                        <li><a href="/climbs/<%=climber.climbs[i].id%>">
                        <img src="<%=climber.climbs[i].img;%>"></a></li><br/>
                        <li><%=climber.climbs[i].about%></li><br/>
                        <li><%=climber.climbs[i].date%></li><br/>

                    <% } %>

                    </ul>



                  </div>
                  </div>
                  </div>
          </div></div>
      </section>



          <section>
                <form action="/climbs/<%=climb._id%>?_method=DELETE" method="POST">

                </form>
        </section>

<% include ../partials/footer.ejs %>
  </body>
</html>
